<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Cms\Controller\Index\Index" type="ShareASale\TrackAffiliates\Controller\Index\ExtendIndex" />
  <virtualType name="AffiliateGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
      <arguments>
          <argument name="appliers" xsi:type="array">
              <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
              <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
          </argument>
      </arguments>
  </virtualType>   
  <virtualType name="AffiliateGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
      <arguments>
          <argument name="collection" xsi:type="object" shared="false">ShareASale\TrackAffiliates\Model\ResourceModel\Affiliate\Collection</argument>
          <argument name="filterPool" xsi:type="object" shared="false">AffiliateGirdFilterPool</argument>
      </arguments>
  </virtualType>
  <virtualType name="ShareASale\TrackAffiliates\Model\ResourceModel\Affiliate\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
        <argument name="mainTable" xsi:type="string">affiliate</argument>
        <argument name="resourceModel" xsi:type="string">ShareASale\TrackAffiliates\Model\ResourceModel\Affiliate</argument>
    </arguments>
  </virtualType>
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
      <arguments>
          <argument name="collections" xsi:type="array">
              <item name="shareasale_affiliate_listing_data_source" xsi:type="string">ShareASale\TrackAffiliates\Model\ResourceModel\Affiliate\Collection</item>
          </argument>
      </arguments>
  </type>          
</config>
